.body {
    height: 500px;
}

.full-height-textarea {
    height: 400px;
}

.code_block {
    background-color: rgb(58, 57, 57);
    color: aliceblue;
    padding: 5px;
}
.code_block_title {
    font-size: small;
}
