.body {
    height: 500px;
}

.container {
    width: 100%;
}
.md-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
}

.html-fild {
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 5px;
    width: 630px;
}

.create-md-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
}
.form-title {
    width: 590px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-base_text {
    width: 600px;
    height: 750px;
    /* padding: 10px; */
    /* border-radius: 5px; */
    /* border: 1px solid #ccc; */
    resize: none; /* Prevent resizing */
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-body-css {
    background-color: rgb(228, 228, 228);
}

.del-button {
    /* デフォルトのボーダー、背景、パディング、フォントなどをリセット */
    border: none;
    background: none;
    padding: 0;
    font: inherit; /* 親要素のフォントを継承 */
    color: inherit; /* 親要素の文字色を継承 */
    cursor: pointer; /* クリック可能であることを示すカーソルに戻す */
    text-align: inherit; /* テキストの配置を親から継承 */
    outline: none; /* フォーカス時のアウトラインを消す（後述） */
}

.edit-button {
    height: 60px;
    width: 60px;
    border: 4px solid #919191;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.edit-button:hover {
    /* font-size: 50px; */
    color: rgb(228, 228, 228);
    /* border: 4px solid #252525; */
    background-color: #919191;
    transform: scale(1.05);
}

.side-buttons { 
    position: fixed;
    /* top: 50%; まずはビューポートの中央に要素の左上を配置 */
    left: 50%;
    /* 自身のサイズの半分だけ戻すことで、要素の中心がビューポートの中心に来る */
    transform: translate(-50%, ); 
    /* ここからが「中心からの距離調整」 */
    /* 例: ビューポートの中心から右に100px、下に50pxずらす */
    margin-left: 325px; 
    /* margin-top: -380px; */
    top: 155px;

    border: 1px solid #919191;
    border-radius: 5px;
    overflow: hidden;
}

.col-button {
    border: 1px solid #919191;
    border-radius: 0px;
}

.side-button-submit {
    top: 105px;
}

.submit-button {
    height: 45px;
    width: 45px;
    border: none;
    border: 4px solid #919191;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    top: 100px
}
.submit-button:hover {
    /* font-size: 50px; */
    color: rgb(228, 228, 228);
    /* border: 4px solid #252525; */
    background-color: #919191;
    transform: scale(1.05);
}

.share-togle-index {
    border: none;
    background-color: white;
    margin-left: 10px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .side-buttons { 
        top: 250px;
    }
    .side-button-submit {
        top: 250px;
    }
}
