.code_block {
    background-color: rgb(58, 57, 57);
    color: aliceblue;
    padding: 5px;
    position: relative;
}
.code_block_title {
    font-size: small;
    color: rgb(58, 57, 57);
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    padding: 2px;
    position: absolute;
}

