.code_block {
    background-color: rgb(58, 57, 57);
    color: aliceblue;
    padding: 5px;
    position: relative;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
.code_block_title {
    font-size: small;
    color: rgb(58, 57, 57);
    background-color: rgb(214, 214, 214);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2px;
    top: 0px;
    position: absolute;
}
.html-fild_text {
    
}
.base_css {
    font-family: 
        "M PLUS 1p",
        "Noto Sans Mono CJK JP",
        "Meiryo",
        "Osaka-Mono",
        "MS Gothic",
        monospace;
}
/* 文字を折り返す */
.wrap-text {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    /* word-break: break-all;
    white-space: normal; */
}
ul {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
h1, h2 {
    margin-left: 5px;
    margin-block-start: 0.3em;
    margin-block-end: 0px;
}
hr {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
