{% extends "base.html" %}
<!-- {% load static %} -->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mdapp/css/index.css' %}" >
    <link rel="stylesheet" href="{% static 'mdapp/css/mdfile.css' %}" >
{% endblock %}

{% block content %}

<div class="md-container">
    <div class="flex-container" style="margin-bottom: 5px;">
        <div style="font-size: xx-large;">{{ object.title }}</div>
        <a href="/files/{{object.id}}/pdf"><i class="fa-solid fa-file-arrow-down"></i></a>
        <a href="/files/{{object.id}}/update">更新</a>
        <form action="/files/{{object.id}}/delete" method="post">
            {% csrf_token %}
            <button type="submit">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </div>

    <div class="html-fild">
        <div class="html-fild_text">
            {{ object.html_text|safe }}
        </div>
    </div>

</div>

{% endblock %}