{% extends "base.html" %}
<!-- {% load static %} -->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mdapp/css/index.css' %}" >
    <link rel="stylesheet" href="{% static 'mdapp/css/mdfile.css' %}" >
{% endblock %}

{% block content %}

    <h1>
        <div>{{ object.title }}</div>
        <a href="/files/{{object.id}}/pdf"><i class="fa-solid fa-file-arrow-down"></i></a>
    </h1>

    <div class="html-fild">
        <div>{{ object.html_text|safe }}</div>
    </div>

    <a href="/files/{{object.id}}/update">更新</a>
    <a href="/files/{{object.id}}/delete"><i class="fa-solid fa-trash"></i></a>
    <form action="/files/{{object.id}}/delete" method="post">
        {% csrf_token %}
        <button type="submit">
            <i class="fa-solid fa-trash"></i>
        </button>
    </form>

{% endblock %}