{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mdapp/css/index.css' %}" >
{% endblock %}

{% block content %}

<!-- <h1>とりまホーム画面</h1> -->
<div class="" style="display: flex; justify-content: center;">
    <div class="center-block" style="max-width: 800px; margin-left: 50px; margin-right: 50px;">
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% if object_list %}
                {% for item in object_list %}
                    <div class="col">
                        <div class="card h-60">
                            <a href="/files/{{item.id}}">
                                {% if item.url %}
                                    <img src="{{ item.url }}" class="card-img-top" alt="..." onerror="this.onerror=null; this.src=`{% static 'mdapp/img/NoIMG.jpg' %}`;">
                                {% else %}
                                <img src="{% static 'mdapp/img/NoIMG.jpg' %}" class="card-img-top" alt="...">
                                {% endif %}
                            </a>
                            <div class="card-body card-body-css" style="display: flex; justify-content: space-between; align-items: center; background-color: rgb(240, 240, 240);">
                                <a href="/files/{{item.id}}">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                </a>
                                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                                <div class="dropdown stopEventChild" style="">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/files/{{item.id}}/pdf">PDFとして保存</a></li>
                                        <li><a class="dropdown-item" href="/files/{{ item.id }}/update">編集</a></li>
                                        <div class="btn-group dropend">
                                            <button id="" type="button" class="dropdown-toggle share-togle-index" data-bs-toggle="dropdown" aria-expanded="false">
                                                共有
                                            </button>
                                            <ul class="dropdown-menu">
                                                <form id="share-form-{{ item.id }}" method="post" action="{% url 'mdapp:share' pk=item.id %}">
                                                    {% csrf_token %}
                                                    {{ share_form.as_p }}
                                                    <input type="submit">
                                                </form>
                                            </ul>
                                        </div>
                                        <li style=""><button type="button" class="" data-bs-toggle="modal" data-bs-target="#indexDeleteModal" item-title="{{ item.title }}" item-id="{{ item.id }}"  style="border: none; background: none; padding: 0;">
                                            <a class="dropdown-item" href="#">削除</a>
                                        </button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Modal -->
                    <div class="modal fade" id="indexDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">注意！</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span id="modalDeleteItemTitle"></span>を削除して大丈夫ですか？<br>  
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <form id="deleteForm" method="post">
                                        {% csrf_token %}
                                        <!-- <button type="submit">
                                            <i class="fa-solid fa-trash"></i>
                                        </button> -->
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            {% else %}
                    <h4 style="width: 300px;">右下からノートを追加！</h4>
            {% endif %}        
        </div>
    </div>
    <form action="/create" style="position: fixed; bottom: 60px; right: 70px;">
        <button type="submit" class="edit-button" style="">
            <i class="fa-solid fa-pen edit-button-pen" style="font-size: 25px;"></i>
        </button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 該当要素が複数あるのでforcachですべてにイベントをつける
        const buttons = document.getElementsByClassName('stopEventChild');
        Array.from(buttons).forEach(function(button) {
            button.addEventListener('click', function(event) {
                // 親要素へのイベント伝播を停止
                event.stopPropagation();
            });
        });

        // formに非同期イベントを実装
        document.querySelectorAll("form[id^='share-form-']").forEach(form => {
            form.addEventListener("submit", async function(event) {
                event.preventDefault(); // submit停止
                const formData = new FormData(this);
                try {
                    const res = await fetch(this.action, {
                        method: "POST",
                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                            "X-CSRFToken": formData.get("csrfmiddlewaretoken"), // hidden inputからCSRFトークンを取得　できるらしい
                        },
                        body: formData
                    });
                    const data = await res.json();
                    console.log(data)
                    if (res.ok) {
                        alert(data["message"])
                    } else {
                        alert('シェアできませんでした')
                    }
                } catch (e) {
                    console.error(e)
                    alert('error')
                }
            });
        });
    });
</script>

{% endblock %}
