{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}

<h1>とりまホーム画面</h1>

<div >
    {% if object_list %}
        {% for item in object_list %}
        <div style="padding: 5px; margin: 5px; border: 1px solid black;">
            <a href="/files/{{item.id}}">{{ item.title }}</a>
            <!-- <div> {{ item.base_text }} </div>
            <div> {{ item.html_text }} </div> -->
            <form action="/files/{{item.id}}/delete" method="post">
                {% csrf_token %}
                <button type="submit">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
        {% endfor %}
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if object_list %}
            {% for item in object_list %}
                <div class="col">
                    <div class="card h-60">
                        <img src="{{ item.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}        
    </div>

</div>

{% endblock %}
